*.db
/utilitaires/utilitaires/dist/
/NetBeansProjects/GestionContactJdbc/build/
/NetBeansProjects/GestionContactJdbc/nbproject/private/
/NetBeansProjects/GestionContactJdbcV1/build/
/NetBeansProjects/GestionContactJdbcV1/nbproject/private/
/NetBeansProjects/GestionContactJsp/nbproject/private/
/NetBeansProjects/GestionContactJsp/build/
/NetBeansProjects/GestionContactJsp/dist/
/NetBeansProjects/ContactDistant/nbproject/private/
/NetBeansProjects/ContactDistantClient/nbproject/private/
/NetBeansProjects/ContactDistant/build/
/NetBeansProjects/ContactDistantClient/build/