html, body{
    margin: 0 0;
    background-color: #99ccff
}

form{
    width: 100%;
    margin-top: 3%;
}

fieldset, footer{
    width: 90%;
    margin: auto;
    padding: 1%;
    background-color: #cccccc;
    border-radius: 10px;
}

legend{
    font-size: 200%;
}

input[type="submit"]{
    margin: 2% 2%;
}

footer{
    margin-top: 4%;
    height: 1.5em;
}

fieldset{
    display : -webkit-flex;
    -webkit-flex-direction:  row;
}

#numero{
    -webkit-flex: 2
}
#boutons{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex: 3;
}

#boutons div:first-child{
    margin-bottom: 60px;
}


table{
    width: 85%;
    margin: 5% auto;
    border: solid 1px;
}

caption{
    font-size: 2em;
}

th, caption{
    text-align: center;
    background-color: grey;
    color: whitesmoke;
}

td{
    background-color: #ccccff
}

